@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.catalog-page {
  max-width: $max-width;
  margin: 0 auto;
  padding: 20px $gutter;
  display: flex;
  flex-direction: column;
  gap: 14px;

  @include respond-to(tablet) { padding: 16px $gutter-sm; }
  @include respond-to(mobile) { padding: 12px 10px; }
}
